<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href="/" target="_self"><%= title %></a></h1>
    <p>Columbia University Graduate School of Architecture, Planning and Preservation</p>


	<div id="main">
		<form id="submitrepo" action="submit" method="post">
			<div>
				<label for="repo">Username: </label>
				<input type="text" id="username" name="username"></input>

				<label for="repo">Repo: </label>
				<input type="text" id="reponame" name="reponame"></input>
			</div>
			<input type="submit" value="Submit"></input>
		</form>

	</div>


  </body>
</html>
